.header {
  // display: none !important;
  background-image: url(/src/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    display: block;
    margin-bottom: 88px;
    width: 100%;
    max-width: 1600px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    font-style: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-transform: none;

    @include on-tablet {
      font-size: 60px;
      white-space: normal;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 60px;
    }
  }
}

.top-bar__phone {
  position: relative;
  display: flex;
  align-items: center;
}

.top-bar__phone-number {
  position: absolute;
  right: 40px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  font-size: 14px;
}

.top-bar__logo img {
  width: 150px;

  @include on-tablet {
    width: 200px;
  }

  @include on-desktop {
    padding-right: 1000px;
  }
}

.top-bar__phone:hover .top-bar__phone-number {
  opacity: 1;
}
